* {
    margin: 0;
    padding: 0;
}

$main-width:1140px;

.stat-container {
    width: $main-width;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

    .stat-item {
        width: $main-width/(4)-10px;
        padding: 20px 20px 0;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;

        & div {
            width: 85px;
            height: 85px;
            border: 1px solid #00427A;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 20px;
            font-size: 31px;
            font-weight: 700;
            color: #00427A;
        }

    }
}