.parent{
   width: 800px;
   height: 800px;
   display: grid;
   border: 1px solid red;
   margin: 0 auto;
}

.child{
   width: 200px;
   height: 200px;
   border: 1px solid green;
   place-self: center;
}