* {
    margin: 0;
    padding: 0;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

.navbar_brand_nav {
    @include flex-center;

    ul {
        @include flex-center;

        li {
            margin: 0 10px;
        }

    }
}

.navbar_user{
    @include flex-center;

    button{
        background:#343a40 ;
        color: white;
        padding: 10px 20px;
        margin: 0 5px;
        border-radius: 20px;
    }
}
