
/* css stripes bir nece usulla yaratmaq olar  */

/* 1. repeating-linear-gradient */
.container{
   margin: 50px auto;
   width: 300px;
   height: 300px;
   background:repeating-linear-gradient(
      30deg,
      red 50px,
      blue 60px,
      yellow 90px
   );

}


/* 2.linear-gradient */

.box{
   margin: 50px auto;
   width: 300px;
   height: 300px;
   border: 1px solid green;
   background: linear-gradient(
      to right,
      rgb(57, 57, 170) 50px,
      #591686 100px,
      pink
   );
}